@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap');


body, html {
    height: 100%;
    margin-right: 200px;
    margin-left:200px;
}
h1, h2, h3{
    font-family:Montserrat, sans-serif;
    letter-spacing:1px;
    color:black;
    font-weight:300;
}
h4, h5, h6, p, li{
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-weight:300;
}

.uppercase{
    text-transform: uppercase;
}

.class-intro{
        background: rgba(232, 232, 232, 0.4);
        text-align: center;
        
}
.class-button {
    background-color: black
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
   
}
i {
    background:white;
    color:black;
}


/*  Heading Logo   */

header{
    width:100%;
    height: 50px;
    text-align: center;
    color:black;
   
    display: inline-block;
    
    
}

.logo {
    float:left;
    margin-left: 15px;
    color:black;  
}

/*  Navigation Links ( menu )  */
#menu {
    letter-spacing: 1px;
   
}
#menu, #logo {
    line-height: 40px;
}
#menu li {
    float:right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color:black ;

}
#menu a:hover{
    border-bottom: 1px solid #111; /*  change color*/
}

/*Intro Section*/

.container {
    display:flex;
    align-items: center;
    padding:64px 32px;
}
.img-developer{
    border-radius: 5%;
}
.right-text {
    text-align: justify;
    padding: 20px;
}





/*Resume Section*/
#resume {
    margin-top: 100px;
    width:100%;
    text-align: center;
    padding: 15px;
      
}
#resume h4{
    color:#000000
    
}
#education {
    margin:auto;
    text-align: left;  
    padding: 15px;
    width:100%;
    background:white;

}
#skillset {
    margin:auto;
    text-align: left;  
    padding: 15px;
    width:100%;
    background:white;
}
#skillset p {
    text-align: center;
    
}


/*Portifolio Section*/
#portfolio {
    width:100%;
    height: 500px;
    text-align: center;
   
}

.img-project{
    float:left;
    width:50%;
    height: 600px;
    overflow: hidden;
    margin-top: 60px;
}

.label-project {
    float:right;
    width:50%;
    height: 600px;
    margin-top: 60px;
    padding-top: 40px;
}


/*Client Section*/
#client{
    width:100%;
    height:630px;
    display:block;
    overflow:hidden;
}


    
    









/*Contact Section*/
#contact {
    width:100%;
    height: 800px;
    display:inline-block;
   
     
}
#my-details{
    width:400px;
    float:right;
     font-size: medium;
    text-align: justify;
    
    margin-left: 40px;
    margin-top: 40px;
    
}
.form {
    width: 300px;
    margin-right: 40px;
    float:left;
    font-family: Montserrat, sans-serif;;
    font-size: medium;
}
/* Contact form inputs with type="text", type="email"  and textareas */
input[type=text], select, textarea, input[type=email]  {
  width: 100%;
  padding: 12px; 
  border: 1px solid black; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-bottom: 2px; 
  resize: vertical; 
  background:#bbbfca;

}



/*    Footer          */
footer {
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    display:block;
    position:fixed;
}

footer li{
    list-style-type: none;
    display:inline;
    margin-left: 20px;
    
}

@media (max-width: 1024px) {
    body {     
    margin-left: 0px;
    margin-right: 0px;
    
    }
}
@media (max-width: 768px) {
  
    /*Client Section*/
#client{
    height:1150px;  
}
.container {
    display:block; 
    align-items: none; 
    width:100%; 
    margin:35px 15px;
}
.container p {
    margin-left: 0px;  
    display:block; 
    width:100%; 
}
.container img { 
    display:block; 
}
  /*Contact Section*/
  #contact {
    width:100%;
    height: 800px;
    display:block;
      
}
#my-details{
    width:100%;
     font-size: medium;
    text-align: justify;
    float:none;
    padding-top: 0px;
    margin-left: 10px;
    margin-top: 0px;
    
}
.form {
    
    margin-right: 0px;
    margin-left: 10px;
    float:none;
   
   
}
/* Small General Adjusts*/
#portfolio {
   padding-left: 20px;
    
}

}

@media (max-width: 450px) {

body {
    font-size: medium;
}
/*Home Section*/
#home{  
    width:100%;
    height:630px;
    margin-bottom: 0px;
    display:block;
    
}
#intro {
    width:100%;
    height: 300px;
    margin-top: 0px;
    float:none;  
    display:block;
    padding-top: 20px; 
}
#pic-space{
    width:100%;
    height: 300px;
    margin-top: 0px;
    margin-bottom: 150px;
    float:none;  
}

/*Portifolio Section*/
#portfolio {
  
    height: 2950px; 
    padding: 20px;
}

.img-project{
    float:none; 
    width:100%;
    margin-top: 0px;
}

.label-project {
    float:none; 
    width:100%; 
    height: 350px;
    margin-top: 0px;
    padding-top: 0px;
}



}  

