@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
}