@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color:
}

/*  Heading Logo   */

header{
    width:100%;
    height: 50px;
    text-align: center;
    
}
h1, h2, h3 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    color:
}

#logo {
    float:left;
    
}

/*  Navigation Links ( menu )  */
#menu {
    letter-spacing: 1px;
}
#menu, #logo {
    line-height: 40px;
}
#menu li {
    float:right;
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color:   ;

}
#menu a:hover{
    border-bottom: 1px solid #111; /*  change color*/
}

/*Home Section*/
#home{  
    
    width:100%;
    height:500px;
    
}
#home div {
    display: inline-block;
}
#intro {
    width:50%;
    height: 500px;
    float: right;
    background-color:magenta;
}

#pic-space{
    width:50%;
    height:500px;
    overflow: hidden;
    background-color:lightseagreen;
    
}

/*Resume Section*/
#resume {
    width:100%;
    height: 500px;
    background-color: mediumseagreen;
}

/*Portifolio Section*/
#portifolio {
    width:100%;
    height: 500px;
    background-color: rgb(165, 60, 179);
}
/*Client Section*/
#client {
    width:100%;
    height: 500px;
    background-color: rgb(179, 60, 66);
}

/*Contact Section*/
#contact {
    width:100%;
    height: 500px;
    background-color: rgb(137, 179, 60);
}

/*Footer*/
footer {
    width:100%;
    height: 50px;
    text-align: center;
}
