@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap');

* {
    box-sizing: border-box;
  }

body, html {
    height: 100%;
    margin:0;
    padding: 0;
 
}
h1, h2, h3{
    font-family:Montserrat, sans-serif;
    letter-spacing:1px;
    color:black;
    font-weight:300;
}
h4, h5, h6, p, li{
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: black;
    font-weight:300;
}

.uppercase{
    text-transform: uppercase;
}

a {
  color:black;
}
i {
    background:white;
    color:black;
}
.sub-tittle {
    text-align: center;
}
.justify {
    text-align: justify;
}

/*  Top Nav bar   */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#070707;
  font-family:Montserrat, sans-serif;
}
.brand-title {
  font-size: 1.2rem;
  margin: .5rem;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
 
}

.navbar-links li {
  list-style: none;
  
}

.navbar-links li a {
  text-decoration: none;
  padding: 1rem;
  display:block;

}
.navbar-links li:hover {
  background-color: #8b8b8b85;
 
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display:none;
  flex-direction: column;
  justify-content: space-between;
  width:30px;
  height: 21px;
}

.toggle-button .bar {
  height:3px;
  width:100%;
  border-radius: 10px;
  background-color: #070707;

}
/*Intro Section*/

.container-intro{
    display:flex;
    padding:64px 32px;
    align-items: center;
}


.img-developer{
    border-radius: 5%;
}
.right-text {
    text-align: justify;
    padding: 20px;
}
/* Landscape Image*/

.landscape-image {
   
    background-image:  url("../images/landscapeimage.jpg");
   
    height: 50%;
   width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/*Resume Section*/
.text-align {
    text-align: justify;
}
.test{
    justify-content: space-evenly
}
.container-skillset{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-education {
  text-align: justify;
  
}

.margin-resume {
  margin-top: 35px;
}

/*Portifolio Section*/

.row {
    margin: 8px -16px;
  }
  
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 25%;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
    text-align: justify;
  }
  .content img {
      border-radius: 5%;
  }

/*Client Section*/
.testimonials{
    text-align: center;
  }
  .interior{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    background: black;
    margin: 26px auto;
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .column-test{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .user{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    margin-bottom: 20px;
  }
  

/*Contact Section*/

.contact-container {
    
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}
.form {
    
   width: 90%;
    font-family: Montserrat, sans-serif;;
    font-size: medium;
    
}

input[type=text], select, textarea, input[type=email]  {
  width: 100%;
  padding: 12px; 
  margin:15px;
  border: 1px solid grey; 
  border-radius: 4px; 
  box-sizing: border-box;  
  resize: vertical; 
  color:black;
  font-family: Quicksand, sans-serif;
}
.submit-button {
  background-color: #070707; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none; 
  letter-spacing: 2px;
  float:right;
}


/*    Footer     */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 60px;
}

footer li{
    list-style-type: none;
    display:inline;
    margin-left: 20px;
    
}

@media screen and (min-width: 1440px) {
  
body {
  margin-left: 200px;
  margin-right: 200px;
}
  
}

@media screen and (max-width: 770px) {
  .column {
   width: 50%;
  }
  .responsive-margin {
    margin:20px; 
  }
  
}


@media screen and (max-width: 680px) {
  
  .container-intro {
    flex-direction: column; 
  }
    
  .container-skillset {
    flex-direction: column; 
    } 
  
    .topnavbar {
      flex-direction: column; 
    } 
    .column-test{
      flex: 100%;
      max-width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
  
  
  .responsive-margin {
      margin:10px;
  }
  .right-text {
    padding:0;
    margin:10px;
   
  }
  .container-education {
    margin:10px;
  }
  
  .container-intro{
    padding:0;
  }
  .column {
    width: 100%;
  }
  .toggle-button {
    display:flex;
  }
  .navbar-links {
    display:none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    flex-direction: column;
  }
  .navbar-links ul {
    width:100%;
    flex-direction: column;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: .5rem 1rem; 
  }
  .navbar-links.active {
    display:flex;
  }
}

