@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@300&display=swap');

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: x-large;
    background:#495464;
   
    
}
h2  {
    text-align: center;
}
h1, h2, h3, {
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    color:#000000
}
h4, h5, h6, p, li{
    font-family: Quicksand, sans-serif;
    letter-spacing: 1px;
    color: #bbbfca;
}

.class-intro{
        background: rgba(232, 232, 232, 0.4);
}
.class-button{
    background: rgba(232, 232, 232, 0.4);
    color:black
}
/*  Heading Logo   */

header{
    width:100%;
    height: 50px;
    text-align: center;
    color:black;
   
    display: inline-block;
    
    
}

#logo {
    float:left;
    margin-left: 15px;
    color:black;  
}

/*  Navigation Links ( menu )  */
#menu {
    letter-spacing: 1px;
   
}
#menu, #logo {
    line-height: 40px;
}
#menu li {
    float:right;
    list-style-type: none;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color:black ;

}
#menu a:hover{
    border-bottom: 1px solid #111; /*  change color*/
}

/*Home Section*/
#home{  
    width:100%;
    height:500px;
    margin-bottom: 60px;
    
    
}

#intro {
    width:50%;
    height: 100%;
    margin-top: 60px;
    float:right;
    background:#495464;
    display:block;
    
    text-align: center;
   
}
#intro span {
    margin:0;
    position:relative;
}


#pic-space{
    width:50%;
    height: 100%;
    margin-top: 60px;
    float:left;
    background:#495464;
    
    text-align: center;
    
   
}
#pic-space img{
    
    width: 250px; 
    height: 250px;
    margin-top: 30px;
    
    
    
    
}

/*Resume Section*/
#resume {
    margin-top: 100px;
    width:100%;
    text-align: center;
    padding: 15px;
      
}
#resume h4{
    color:#000000
    
}
#education {
    margin:auto;
    text-align: left;  
    padding: 15px;
    width:100%;
    background:#495464;

}
#skillset {
    margin:auto;
    text-align: left;  
    padding: 15px;
    width:100%;
    background:#495464;
}
#skillset p {
    text-align: center;
    
}


/*Portifolio Section*/
#portfolio {
    width:100%;
    height: 500px;
    text-align: center;
    
}

.img-project{
    float:left;
    width:50%;
    height: 600px;
    overflow: hidden;
    margin-top: 60px;
}
.img-project img {
    
}
.label-project {
    float:right;
    width:50%;
    height: 600px;
    margin-top: 60px;
}

/*Client Section*/
#client {
    width:100%;
    height: 500px;
    
    
}


/*Contact Section*/
#contact {
    width:100%;
    height: 1000px;
    
    
}
#contact div {
    width: 30%;
    margin:auto;
}
/* Contact form inputs with type="text", type="email"  and textareas */
input[type=text], select, textarea, input[type=email]  {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */

/*Footer*/
footer {
    width:100%;
    height: 50px;
    
    text-align: center;
}





